@model NotMyShows.ViewModel.RegisterModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Login";
}
<div class="form_wrapper">
    <label class="page_title">
        Регистрация
    </label>
    <div class="service_buttons_wrapper">
        <button id="google_login" class="service_button">
            <svg>
                <use xlink:href="/Icons/filled/20/google.svg#google_icon"></use>
            </svg>
            Войти через Google
        </button>
        <button id="vk_login" class="service_button">
            <svg>
                <use xlink:href="/Icons/filled/20/vk.svg#vk_icon"></use>
            </svg>
            Войти через ВКонтакте
        </button>
    </div>
    <div class="line_separator"></div>
    <div class="error-alert">
        <svg>
            <use xlink:href="/Icons/filled/16/error.svg#error_icon"></use>
        </svg>
        <div class="error-alert-message" asp-validation-summary="ModelOnly">
            @*Введённая вами комбинация логина и пароля не найдена*@
        </div>
    </div>
    <form asp-antiforgery="true" id="Login_Form" asp-controller="Account" asp-action="Register" method="post">
        @*<div id="error_summary" asp-validation-summary="All"></div>*@
        <input hidden asp-for="ReturnURL" />
        <div class="input_block">
            <div class="input-status-wrapper">
                <label>
                    Электронная почта
                </label>
                <div class="loader-wrapper">
                    <div class="loader"></div>
                </div>
            </div>
            <div class="input_wrapper">
                <input class="input_elem" asp-for="Email" />
                <button id="clear_button" class="input_button">
                    <svg>
                        <use xlink:href="/Icons/outline/20/x.svg#x_icon"></use>
                    </svg>
                </button>
            </div>
            <span class="input-error" asp-validation-for="Email"></span>
        </div>
        <div class="input_block">
            <div class="input-status-wrapper">
                <label>
                    Пароль
                </label>
                <div class="loader-wrapper">
                    <div class="loader"></div>
                </div>
            </div>
            <div class="input_wrapper">
                <input class="input_elem" asp-for="Password" type="password" autocomplete="new-password" />
                <button id="eye_button" class="input_button">
                    <svg>
                        <use xlink:href="/Icons/outline/20/eye-open.svg#eye_open_icon"></use>
                    </svg>
                </button>
            </div>
            <span class="input-error" asp-validation-for="Password"></span>
        </div>
        <div class="input_block">
            <div class="input-status-wrapper">
                <label>
                    Пароль
                </label>
                <div class="loader-wrapper">
                    <div class="loader"></div>
                </div>
            </div>
            <div class="input_wrapper">
                <input class="input_elem" asp-for="ConfirmPassword" type="password" autocomplete="new-password" />
                <button id="eye_button" class="input_button">
                    <svg>
                        <use xlink:href="/Icons/outline/20/eye-open.svg#eye_open_icon"></use>
                    </svg>
                </button>
            </div>
            <span class="input-error" asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="submit_wrapper">
            <noscript>
                <style>
                    .primary-button:disabled {
                        display: none;
                    }
                </style>
                <input type="submit" class="primary-button M" value="Зарегистрироваться" />
            </noscript>
            <input id="submit-button" type="submit" class="primary-button M" value="Зарегистрироваться" disabled />
            <div class="policy-confirmation-block">
                Регистрируюсь в сервисе, вы подтверждаете, что прочли и в полной мере осознаёте <a href="#">условия обслуживания</a> и <a href="#">положения политики конфиденциальности</a>
            </div>
        </div>
    </form>
</div>
@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


