@model NotMyShows.ViewModel.FriendsViewModel
@{
    ViewData["Title"] = "Friends";
}
<link rel="stylesheet" href="~/css/UserProfile.css" />
<div class="friends-container">
    @foreach (var friend in Model.Friends)
    {
    <div class="friend-item">
        <div class="friend-user-avatar">
            <a asp-controller="Profiles" asp-action="Profile" asp-route-Id="@friend.Id">
                <img src="\@Html.Raw(friend.ImageSrc)" />
            </a>
        </div>
        <div class="friend-user-info">
            <a class="friend-user-name" asp-controller="Profiles" asp-action="Profile" asp-route-Id="@friend.Id">
                @friend.User.UserName
            </a>
            <button class="write-message-button">
                Написать сообщение
            </button>
        </div>
    </div>
    }
</div>