@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a asp-controller="Home" asp-action="Secret">
    login
</a>
<a asp-controller="Home" asp-action="Register">
    register
</a>
<a asp-controller="Home" asp-action="GetUser">
    User
</a>
@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Home" asp-action="Logout">
        Выход
    </a>
}
