.profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 257px;
    background: var(--color-bg-surface);
    border-radius: 8px;
    padding: 24px;
}
.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 96px;
}
.user-avatar {
    display: flex;
    position: static;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: #ffffff;
}
.user-avatar > label {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}
.user-avatar > label > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.user-avatar > input {
    display: none;
}
.user-info-items {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}
.user-name-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.user-name {
    display: flex;
    flex-direction: column;
    position: static;
    font: var(--font-L-XXL-Heading-1-48-B);
    font-weight: 500;
    color: var(--color-text-heading);
}
.add-friend-button {
    display: none;
    align-items: center;
    align-self: flex-start;
    background: #5537EE;
    font: var(--font-13-16-Semibold);
    color: var(--color-text-heading);
    height: 24px;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
    padding: 4px 6px 4px 6px;
}
.add-friend-button > svg {
    width: 14px;
    height: 14px;
    margin-right: 2px;
}
.remove-friend-button {
    display: none;
    align-items: center;
    align-self: flex-start;
    background: var(--color-grey-100);
    font: var(--font-13-16-Semibold);
    color: var(--color-text-heading);
    height: 24px;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
    padding: 4px 6px 4px 6px;
}
.remove-friend-button:hover {
    background-color: var(--color-status-error);
}
.remove-friend-button:hover > svg {
    display: block;
}
.remove-friend-button > svg {
    display: none;
    stroke: #ffffff;
    width: 16px;
    height: 16px;
    margin-left: 2px;
}
.add-friend-button:focus {
    outline: none;
}
.user-raiting {
    position: static;
    font: var(--font-18-Medium);
    color: var(--color-status-success);
    margin-left: 24px;
}
.separator {
    width: 100%;
    height: 1px;
    background: var(--color-separator-surface);
    margin-top: 24px;
}
.user-stats {
    display: flex;
    flex-direction: row;
    height: 64px;
    margin-left: -48px;
    margin-top: 24px;
}
.stat-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 48px;
}
.stat-number {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    color: var(--color-text-heading);
}
.stat-name {
    font: var(--font-14-16-Medium);
    color: var(--color-text-secondary);
}
.user-series {
    width: 100%;
    margin-top: 48px;
}
.series-tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 34px;
    margin-left: -24px;
}
.tab-item {
    display: inline-block;
    margin-left: 24px;
}
.tab-item input[type=radio] {
    display: none;
}

.tab-item label {
    font: var(--font-18-Medium);
    color: var(--color-text-secondary);
    user-select: none;
    cursor: pointer;
}
/* Checked */
.tab-item input[type=radio]:checked + label > .watch-status-name {
    color: var(--color-text-heading);
    border-bottom: 2px solid var(--color-accent-purple);
}
.tab-item > a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font: var(--font-18-Medium);
    color: var(--color-text-secondary);
}
.tab-item-selected > .tab-name{
    color: var(--color-text-heading);
    border-bottom: 2px solid var(--color-accent-purple);
}
.tab-quantity {
    margin-left: 8px;
}
.profile-series-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    margin-top: 8px;
    margin-left: -16px;
    width: calc(100% + 16px);
}
.profile-series-card {
    height: 404px !important;
}
.series-raiting-progress-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
    height: 48px;
}
.series-raiting {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
}
.series-raiting > svg {
    fill: none;
    width: 20px;
    height: 20px;
    stroke: var(--color-accent-purple);
}
.series-raiting-number {
    display: flex;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    height: 100%;
    color: var(--color-text-heading);
    margin-left: 8px;
    align-items: center;
}
.series-progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 12px;
    width: 100%;
}
progress {
    width: 100%;
    height: 8px;
    border-radius: 4px;
}
progress::-webkit-progress-bar {
    background: var(--color-grey-100);
    border-radius: 4px;
}

progress::-webkit-progress-value {
    background: var(--color-accent-purple);
    border-radius: 4px;
}
progress::-moz-progress-bar {
    background: var(--color-accent-purple);
    border-radius: 4px;
}
.progress-count {
    font: var(--font-12-12-Medium);
    color: var(--color-text-secondary);
    margin-left: 12px;
}